# API keys and secrets
.env
config.json

# General
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
.upm

pids
logs
results
tmp

# Coverage reports
coverage

# Dependency directory
node_modules
bower_components

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore yarn.lock
yarn.lock